
.flex_container{
    display: inline-flex;
    flex-direction: row; 
    padding:0;
    
    
}

.login_view {
    
    width: 430px;
    margin:10px 10px;
    height: 100vh;
    padding-top:100px;
    padding-left: 10px;
    padding-right: 10px;
       
}

.banner_view{

    width: 50%;
    height: 100vh;
    padding-top:100px;
    padding-left: 10px;
    padding-right: 10px;
    bottom:0;
    border:1px solid #FDAC53;
    background: #F99F38;
   
    
}