
label {
    font-family: 'Poppins', sans-serif;
}





.menu_view{
    height: 100vh;
    width: 350px;    
    font-size: 21px;
    margin-right:30px;
    
   
}

.menu_view ul li {
    list-style-type: none;
    margin-bottom: 12px;
    border-left: 1px solid transparent;
    padding-left: 15px;
    transition: border-left 1s ease;
    color:#F99F38;
}

.menu_view ul li:hover {
    color:#000;
    border-left-color: #F99F38;
}

.menu_view ul{

   margin-bottom: 50px;   
   
}




.flex_dashboard{
    display: inline-flex;
    margin: 0px;
    flex-direction: row; 
    padding:0;
    
    
}

.table-container{
    margin: 25px 0;
    height: 100vh;
    width: 900px;
    padding: 12px;
    background-color: white;
    
  
    border-collapse:collapse;   
    border-radius:6px;
    border-spacing: 4px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    
}
.table-container table{
    width: 100%;
    box-sizing: border-box;
}

#table_head{
    
    padding:10px 15px;
    text-align: left;
    
    
}

#table_head th{
    color: #F99F38;
    border-bottom:1px solid #F99F38;
}

.table-container tbody td{
    padding-top:12px;
    padding-bottom:6px

}



.addItem{
    margin:10px 15px;
    padding:20px;
    border: 1px solid #f0f2f5;
    width: 350px;
    background-color: #f0f2f5;
    border-radius:4px;
    
}

.addItem input{
    border-radius: 6px;
    /* border: 1px solid #f0f2f5; */
    padding: 10px;
    font-size: 12px;
    width: 310px;
    margin: 6px 0;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    
}
.addItem input[type='submit']{
    border-radius: 6px;
    border: 1px solid #f0f2f5;
    padding: 10px;
    font-size: 12px;
    width: 320px;
    background-color: #F99F38;
    color:#fff;
}

.addItem form{
    padding:none;
    margin:0;
}
#addTitle{
    font-family: 'Poppins', sans-serif;
    background-color: #F99F38;
    width: 100%;
    padding: 9px;
    margin-bottom: 5px;
    color:#fff;
    border-radius: 3px;
    
}
#addTitle:hover{
    color: #000;
}

.addItem label{
    color:#000;
    font-size: 16px;
    padding: 6px;
    font-family: 'Poppins', sans-serif;
}